build/
cmake/FindLibVersioningCompiler.cmake
libVC/*.yml
libVersioningCompilerProd/*.yml
libVersioningCompilerCons/*.yml
cmake/FindLibVersioningCompilerProd.cmake
cmake/FindLibVersioningCompilerCons.cmake
cmake/Findlibzmq.cmake
.vscode/
